@model WebTest.Models.StateModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    @{
        ViewData["Title"] = "Index";
    }

    <h2>state</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary();
        @Html.Label("State");
        @Html.DropDownListFor(x => x.ID, Model.states, "------PleaseSelect-------");
        @Html.ValidationMessage("state is requred");
        <input type="submit" value="Submit">
    }







</div>



