@*@model WebTest.Models.StateModel*@

@section header {
}
@{
    ViewBag.Title = "Edit Customer Information";
}
<div class="row">
    <div class="col-md-12">
        <h2>Edit Customer Information</h2>
    </div>
</div>
<div id="EditCustomerPartial">
    @Html.Action("EditCustomerPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>



